.topNav {
    display: block;
    padding: 30px 15px;
}


/* Nav links */

#menuLinks {
    text-align: right;
    ul {
        margin: 0;
        list-style: none;
    }
    ul li {
        display: inline-block;
        text-transform: uppercase;
    }
    li A {
        padding: 15px 25px;
        font-size: px2rem(14);
        @include MuseoSans;
        color: $(textColor);
        font-weight: 600;
        @include .ease;
    }
    li A:hover {
        color: $(accentColor);
    }
    A.btn {
        color: $(accentColor);
        border: 2px solid $(accentColor);
        margin-left: 15px;
        padding: 10px 25px;
        @include .ease;
    }
    A.btn:pocus {
        background: $(accentColor);
        color: #fff;
    }
}


/* mobile menu */

.nav-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 23px;
    width: 23px;
    cursor: pointer;
    span {
        display: block;
        height: 2px;
        background: #000;
        margin-bottom: 7px;
        transition: all .5s ease;
        border-radius: 4px;
    }
}



.menu-list {
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    transform: scale(0);
    opacity: 0;
    transition: all .5s ease;
    padding: 35% 0;
    
    li {
        display: block;
        padding: 20px 0;
        text-align: center;
    }
    
    a {
    
        color: #fff;
        
        
        font-size: px2rem(14);
        @include MuseoSans;
        text-transform: uppercase;
    }
    
    A.btn {
        color: $(accentColor);
        border: 2px solid $(accentColor);
        margin-left: 15px;
        padding: 10px 25px;
        @include .ease;
    }
    A.btn:pocus {
        background: $(accentColor);
        color: #fff;
    }
}

#menu-open {
    display: none;
}

#menu-open:checked+.menu-list {
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 1;
}

#menu-open:checked~.nav-btn span:first-child {
    margin-top: 11px;
    transform: rotate(-45deg);
    background: #fff;
}

#menu-open:checked~.nav-btn span {
    margin-top: -11px;
    transform: rotate(45deg);
    background: #fff;
}

#menu-open:checked~.nav-btn span:last-child {
    opacity: 0;
}

* {
    -webkit-text-size-adjust: none;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}